<!DOCTYPE html>
<html>
<<<<<<< HEAD

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: lightblue;
    }

    a {
        color: black;
    }
    h1 {
      color: lightblue;
    }
</style>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="col-xs-12 col-md-2">
    <h1>NELISA</h1>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Select Week
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/sales/Week1">Week1</a></li>
            <li><a href="/sales/Week2">Week2</a></li>
            <li><a href="/sales/Week3">Week3</a></li>
            <li><a href="/sales/Week4">Week4</a></li>
          </ul>

        </li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/sales">Sales</a></li>
        <li><a href="/purchases">Purchases</a></li>


        <li><a href="/Sign up">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>


    </div>
  </div>
</nav>

    {{{body}}}
</body>

=======
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            body{
                background-color: orange;
            }

            input[type="text"]{
                padding : 0.5em;
            }

            input[type="submit"]{
                padding : 0.5em;
            }

            .container {
                width : 80%;
                margin: 0 auto;
                background-color: white;
                padding : 1em;
                height: 20em;
            }

            .message{
                border : 1px solid black;
                padding : 1em;
                margin-bottom: 1em;
                width : 10em;
                background-color: dodgerblue;
            }

        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
>>>>>>> eb6ee6da66d83082ce1374a2a59bf025583b9111
</html>

