<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: lightblue;
    }

    a {
        color: black;
    }
</style>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Nelisa's Spaza</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a class="btn btn-default" href="/sales/week1" role="button">week1</a></li>
                <li><a class="btn btn-default" href="/sales/week2" role="button">week2</a></li>
                <li><a class="btn btn-default" href="/sales/week3" role="button">week3</a></li>
                <li><a class="btn btn-default" href="/sales/week4" role="button">week4</a></li>
            </ul>
        </div>
    </nav>

    {{{body}}}
</body>

</html>
