<h1>Edit</h1>

<form action="/categories/update/{{data.id}}" method="POST">

	<div class="">
		<label for="">category</label>
		<input type="text" name="category" value="{{data.category}}">
	</div>

	<input type="submit">
</form>
