
{{#if msg}}
<div class="message">
    {{msg}}
</div>
{{/if}}
<!--
<form class="" action="/login" method="post">
    <input type="text" name="username"  placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="name" value="login">
</form> -->
<body>
<div class="container">
	<section id="content">
		<form action="/login" method="post">
			<h1>Login to Nelisa</h1>
			<div>
      <input type="text" name="username"  placeholder="username" id="username">

				<!-- <input type="text" placeholder="Username" required="" id="username"> -->
			</div>
			<div>
      <input type="password" name="password" placeholder="password" id="password">

				<!-- <input type="password" placeholder="Password" required="" id="password"> -->
			</div>
			<div>
				<input type="submit" name="name" value="Login">
				<a href="#">Lost your password?</a>
				<a href="/signup">SIGN UP</a>
			</div>
		</form>
 </section>
</div>
</body>
