<h1>products</h1>
<!-- <a href="/categories/add">Add</a> -->
{{#products}}
  <h2>{{product}}</h2>
  <!-- <a href="/categories/edit/{{id}}">Edit</a> -->
  <!-- <a href="/categories/delete/{{id}}">Delete</a> -->
{{/products}}
