<h1>products</h1>
<a href="/products/add">Add</a>
<div class="container">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>product</th>
                <th>category</th>
            </tr>
        </thead>
        <tbody>
            {{#products}}
                <tr>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                </tr>
            {{/products}}
        </tbody>
    </table>
</div>
