<h1>sales</h1>
<div class="container">

    <table class="table table-condensed">
        <thead>
            <tr>
              <th>dates</th>
              <th>product</th>
              <th>qty</th>
              <th>salesPrice</th>

            </tr>
        </thead>
        <tbody>
            {{#sales}}
                <tr>
                    <td>{{dates}}</td>
                    <td>{{product}}</td>
                      <td>{{qty}}</td>
                    <td>{{salesPrice}}</td>

                </tr>
            {{/sales}}
        </tbody>
    </table>
</div>
