<h1>Add signUp</h1>

<form action="/signUp/add" method="POST">
	<div class="">
		<label for="">username</label>

	<div>
		<label for="">email</label>
		<input type="email" name="email" value="{{email}}">
	</div>
  <div>
    <label for="">password</label>
      <input class="span3" name="password" placeholder="Password" value="{{password}}" type="password">
  </div>

	<input type="submit">
</form>
